<h1>About</h1>
<p>AzHiking was created in hopes to inspire more people to become adventure seekers and seek the outdoors.  Arizona is a beautiful state and offers beautiful scenery - more than just the stereotypical desert landscape.</p>
<br>
<p>So, what are your weekend plans? Let's explore!</p>
